<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <button class="btn btn-primary" [routerLink]="['/', 'store', user?.id]">
    <fa-icon class="mr-2" [icon]="storeIcon"></fa-icon>
    Go to Your Store Page
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-1">
      <sbr-notifications></sbr-notifications>
    </li>
    <li class="nav-item mx-1">
      <sbr-messages></sbr-messages>
    </li>
    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item d-inline-block">
      <sbr-user [user]="user"></sbr-user>
    </li>
  </ul>
</nav>