<div class="flex-container">
  <div class="link-container">
    <h3 class="mb-4 text-dark pb-2">1. Share by QR Code</h3>
    <sbr-qr-poster class="card m-auto m-4"></sbr-qr-poster>
    <div class="code-container rounded mb-4">
      <pre><code>http://somelink.com/ad245dfgdy.jpg</code></pre>
      <div class="code-buttons">
        <button type="button" class="btn btn-sm">COPY</button>
      </div>
    </div>
  </div>
  <div class="link-container">
    <h3 class="mb-4 text-dark pb-2">2. Share by Link</h3>
    <div class="code-container rounded mb-4">
      <pre><code>http://somelink.com/ad245dfgdy</code></pre>
      <div class="code-buttons">
        <button type="button" class="btn btn-sm">COPY</button>
      </div>
    </div>
  </div>
  <div class="link-container">
    <h3 class="mb-4 text-dark pb-2">3. Share by Button</h3>
    <div class="code-container rounded mb-4">
      <pre><code>{{buttonLinkCode}}</code></pre>
      <div class="code-buttons">
        <button type="button" class="btn btn-sm">COPY</button>
      </div>
    </div>
  </div>
  <div class="link-container">
    <h3 class="mb-4 pb-2">4. API Integration</h3>
    Coming soon!
  </div>
</div>
