@import '../../styles';

.code-container {
  padding: 1rem;
  position: relative;
  background-color: rgba($dark, 0.8);

  pre {
    @extend .text-light;
    @extend .text-monospace;

    margin: 0;
    padding: 0 .5rem;
  }

  .code-buttons {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    button {
      @extend .btn-dark;

      margin: auto;
      margin-right: 1rem;
      background-color: rgba($dark, 0.8);
      font-size: 0.5rem;
    }
  }
}
