<form [formGroup]="subscriptionForm">
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <div class="row sticky-top p-4">
        <div class="col">
          <div class="pb-4">
            <a class="text-dark h4 text-decoration-none" [routerLink]="['/', 'store', package.merchantId, 'package', package.id]">{{package.name}}</a>
            <br>
            <span>by <a [routerLink]="['/', 'store', package.merchantId]">{{package.merchantName}}</a></span>
          </div>
          <div class="img-container pb-4">
            <img class="img-fluid rounded border" [src]="package.imageUrl">
          </div>
          <p>{{package.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 p-4">
      <div class="row" id="plans">
        <div class="col pb-4">
          <h5 class="mb-4 text-dark border-bottom pb-2">Selected Plan</h5>
          <button class="btn mb-2 p-0 w-100 btn-block btn-{{subscriptionForm.get('planId').value === plan.id ? 'primary' : 'light'}}"
            *ngFor="let plan of package.subscription.plans" (click)="subscriptionForm.get('planId').setValue(plan.id)" ngx-scroll-to="plans" [ngx-scroll-to-offset]="260">
            <div class="card">
              <div class="card-body w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div [style.line-height]="1.2" class="text-left">
                    <div class="text-dark">{{plan.name}} Subscription</div>
                    <span class="text-muted text-xs">Valid for {{plan.cycles}} {{package.cycle | cycle : 'unit'}}(s)</span>
                  </div>
                  <h6 class="font-weight-bold text-dark text-right">SGD {{plan.price | currency}}</h6>
                </div>
              </div>
            </div>
          </button>
          <div class="alert alert-light mt-2" [style.line-height]="1.2">
            <small>Your subscription will automatically be renewed when your selected plan's validity expires. You can change this later in your subscriptions settings.</small>
          </div>
        </div>
      </div>
      <div class="row position-relative" id="address">
        <div class="position-absolute w-100 h-100 bg-light d-block" [style.z-index]="1" [style.opacity]="0.5" *ngIf="!subscriptionForm.get('planId').value"></div>
        <div class="col pb-4">
          <h5 class="mb-4 text-dark border-bottom pb-2">Delivery Address</h5>
          <button class="btn mb-2 p-0 w-100 btn-block btn-{{subscriptionForm.get('deliveryAddressId').value === address.id ? 'primary' : 'light'}}"
            *ngFor="let address of deliveryAddresses" (click)="subscriptionForm.get('deliveryAddressId').setValue(address.id)" ngx-scroll-to="address" [ngx-scroll-to-offset]="260">
            <div class="card">
              <div class="card-body w-100 text-left">
                <div class="d-flex align-items-center">
                  <fa-icon [icon]="addressHomeIcon" class="text-gray-400 mr-4" [style.font-size.rem]="2"></fa-icon>
                  <div>
                    <span class="badge badge-primary text-uppercase mr-2">{{address.label}}</span><br>
                    <span class="text-muted">{{address.address.addressLine1}}</span><br>
                    <span class="text-muted">{{address.address.addressLine2}}</span>
                  </div>
                </div>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="row position-relative" id="start-date">
        <div class="position-absolute w-100 h-100 bg-light d-block" [style.z-index]="1" [style.opacity]="0.5" *ngIf="!subscriptionForm.get('deliveryAddressId').value"></div>
        <div class="col pb-4">
          <h5 class="mb-4 text-dark border-bottom pb-2">Starting Date</h5>
          <div class="card">
            <div class="card-body">
              <sbr-datepicker [date]="subscriptionForm.get('startDate').value"
                (dateChange)="subscriptionForm.get('startDate').setValue($event)"
                [minDate]="minStartDate" [maxDate]="maxStartDate" ngx-scroll-to="start-date">
              </sbr-datepicker>
            </div>
            <div class="card-footer">
              <div [style.line-height]="1.2" class="text-center">
                <div class="h5 text-dark m-0">{{subscriptionForm.get('startDate').value | amDateFormat : 'dddd, D MMMM'}}</div>
                <!-- <span class="text-muted text-xs">First package will be delivered <span class="text-dark">{{subscriptionForm.get('startDate').value | amTimeAgo : false }}</span></span> -->
              </div>
            </div>
          </div>
          <div class="alert alert-light mt-2" [style.line-height]="1.2" *ngIf="expiryDate">
            <small>
              Packages will be delivered every {{package.cycle | cycle : 'unit'}} with the first package arriving
              <span class="text-dark font-weight-bold">{{subscriptionForm.get('startDate').value | amTimeAgo : false }}</span>.
              Your last package will be delivered on
              <span class="text-dark font-weight-bold">{{expiryDate | amDateFormat : 'D MMMM YYYY'}}</span>.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" [disabled]="!subscriptionForm.valid">Make Payment</button>
  </div>
</form>