<div class="row">
  <div class="col">
    <div class="pt-5 pb-2 mb-4 border-top border-bottom">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col pb-4">
    <h5 class="mb-4 text-dark border-bottom pb-2">Popular Packages</h5>
    <div class="row">
      <div class="col-md-12 col-lg-4 pb-4" *ngFor="let package of popularPackages">
        <sbr-store-package-card class="d-block h-100" [package]="package"></sbr-store-package-card>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col pb-4">
    <h5 class="mb-4 text-dark border-bottom pb-2">All Packages</h5>
    <div class="row">
      <div class="col-md-6 col-lg-4 pb-4" *ngFor="let package of packages">
        <sbr-store-package-card class="d-block h-100" [package]="package"></sbr-store-package-card>
      </div>
    </div>
  </div>
</div>