<div class="bg-gradient-primary d-flex p-4">
  <div class="container">
    <div class="card shadow">
      <div class="card-body px-5 py-4">
        <div class="store-header d-flex justify-content-between align-items-center">
          <div class="brand">
            <a class="d-flex align-items-center justify-content-center text-decoration-none" [routerLink]="['/', 'store']">
              <div class="brand-text">Subscribler</div>
            </a>
          </div>
          <div class="header-buttons">
            <button class="btn btn-sm text-primary">My Subscriptions</button>
            <button class="btn btn-sm text-primary">Login</button>
            <button class="btn btn-sm text-primary">Sign Up</button>
          </div>
        </div>
        <div class="pt-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>