<div class="row">
  <div class="col-xl-3 col-md-6 pb-4" *ngFor="let partner of logisticPartners" (click)="selectPartner(partner)">
    <button class="btn logistic-partner card border o-hidden p-0">
      <div class="selected-overlay" [class.visible]="value == partner.id">
        <div class="backdrop"></div>
        <fa-icon class="btn btn-circle btn-lg btn-primary" [icon]="selectedIcon"></fa-icon>
      </div>
      <img class="card-img-top" [src]="partner.imageUrl">
      <div class="card-body">
        <strong class="card-title">{{partner.name}}</strong>
      </div> 
    </button>
  </div>
</div>