<div class="card store-item-card">
  <div class="card-body">
    <div class="store-item-image-container">
      <img class="store-item-img" [src]="package.imageUrl">
    </div>
    <div class="store-item-overlay">
      <div class="store-item-backdrop"></div>
      <div class="store-item-content">
        <h5 class="store-item-title">{{package.name}}</h5>
        <small class="text-xs">Starting at SGD {{package.subscription.startingPrice}} per {{package.cycle | cycle : 'unit'}}</small>
      </div>
    </div>
  </div>
</div>