.card-img {
  position: relative;

  sbr-cycle-badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  .context-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    .backdrop {
      background: linear-gradient(rgba(black, 0.4), transparent);
      width: 100%;
      height: 100%;
    }

    fa-icon {
      position: absolute;
      margin: 0.3rem;
      top: 0;
      right: 0;
    }
  }

  &:hover {
    .context-overlay {
      opacity: 1;
    }
  }
}