<div class="row p-4">
  <div class="col-7 pr-5 border-right">
    <ngb-carousel [interval]="10000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let img of illustrations">
        <div class="text-center mb-5 d-flex align-items-center" [style.height.vh]="25">
          <img [src]="img" class="img-fluid w-50 m-auto">
        </div>
      </ng-template>
    </ngb-carousel>
    <span class="text-muted">
      <strong>Subscribler</strong> is an integrated platform where you can transform your business into a subscription based model and manage you operations with minimal effort.
    </span>
  </div>
  <div class="col-5 pl-5">
    <div class="row" *ngIf="registerMode">
      <div class="col">
        <sbr-register></sbr-register>
        <button class="btn btn-primary btn-block mt-4">Sign Up</button>
        <div class="pt-4 text-center">
          <button class="btn btn-link text-gray-600" (click)="registerMode = false">Already have an account? Login!</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!registerMode">
      <div class="col">
        <sbr-login></sbr-login>
        <button class="btn btn-primary btn-block mt-4">Login</button>
        <div class="pt-4 text-center">
          <button class="btn btn-link text-gray-600" (click)="registerMode = true">Don't have an account? Sign Up!</button>
        </div>
      </div>
    </div>
  </div>
</div>