<div class="card border-left-{{color}} shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-{{color}} text-uppercase mb-1">
          {{header}}
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="type == 'number'">
          {{value | number}}
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="type == 'currency'">
          {{value | currency}}
        </div>
      </div>
      <div class="col-auto">
        <fa-icon [icon]="icon" class="fa-2x text-gray-300"></fa-icon>
      </div>
    </div>
  </div>
</div>