<form class="user">
  <div class="form-group">
    <input type="email" class="form-control form-control-user" placeholder="Email Address">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-user" placeholder="Password">
  </div>
  <div class="form-group pl-2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="login-remember-me">
      <label class="custom-control-label" for="login-remember-me">Remember me</label>
    </div>
  </div>
</form>