<form [formGroup]="packageForm">
  <div class="form-group">
    <h5>Package Details</h5>
    <div class="row">
      <div class="col form-group">
        <input type="text" formControlName="name" class="form-control" placeholder="Package Name">
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <textarea type="text" formControlName="description" class="form-control" placeholder="Description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <select class="form-control" formControlName="cycle">
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let cycle of cycles" [value]="cycle.value">{{cycle.text}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" formArrayName="billingOptions">
    <div class="col form-group">
      <h5>Billing Options</h5>
      <div class="form-group" *ngFor="let option of packageForm.get('billingOptions').controls; let i = index">
        <span>Option {{i + 1}}</span>
        <div [formGroupName]="i" class="row">
          <div class="col form-group">
            <input type="number" formControlName="duration" class="form-control" placeholder="Duration">
          </div>
          <div class="col form-group">
            <select class="col form-control" formControlName="cycle">
              <option [value]="undefined" disabled selected>Choose...</option>
              <option *ngFor="let cycle of cycles" [value]="cycle.value">{{cycle.text}}</option>
            </select>
          </div>
          <div class="col form-group">
            <input type="number" formControlName="price" class="form-control" placeholder="Price">
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="addBillingOption()">Add Billing Option</button>
    </div>
  </div>
</form>