<div class="card">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Confirm Action</h6>
    <button type="button" class="close" (click)="cancel()">
      <fa-icon [icon]="closeIcon"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    {{prompt}}
  </div>
  <div class="card-footer py-3 d-flex flex-row justify-content-end">
    <button class="btn btn-dark btn-sm mr-2" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary btn-sm" (click)="confirm()">Confirm</button>
  </div>
</div>