<form [formGroup]="itemForm">
  <div class="form-group">
    <label for="item-image">Item Image</label>
    <ngx-file-drop id="item-image" dropZoneLabel="Drop files here" accept="image/*" (onFileOver)="fileHover = true"
      (onFileLeave)="fileHover = false" (onFileDrop)="dropped($event); fileHover = false" multiple="false"
      dropZoneClassName="file-drop-zone {{fileHover ? 'file-hover' : ''}}" contentClassName="file-drop-zone-content">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="file-drop-zone-selector" (click)="openFileSelector()"
          [class.no-image]="!itemForm.get('imageUrl').value"
          [style.background-image]="'url(' + itemForm.get('imageUrl').value + ')'">
          <div class="overlay">
            <div class="backdrop"></div>
            <div class="content">
              <fa-icon [icon]="dropZoneIcon" [style.font-size.rem]="3" class="d-block"></fa-icon>
              <span>Drop an image here or <strong>choose a file</strong>.</span>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
  </div>
  <div class="form-group">
    <label for="item-name">Item Name</label>
    <input id="item-name" type="text" formControlName="name" class="form-control" placeholder="Item Name">
  </div>
  <div class="form-group">
    <label for="item-description">Description</label>
    <textarea id="item-description" type="text" formControlName="description" class="form-control" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="item-unit">Unit</label>
    <input id="item-unit" type="text" formControlName="unit" class="form-control" [ngbTypeahead]="lookupUnit" placeholder="Unit">
  </div>
</form>