@import '../../styles.scss';

.star-icon {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;

  .template {
    color: $gray-500;
  }

  .filled {
    left: 0;
    bottom: 0;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: $primary;
  }
}
