<div class="background">
  <div class="overlay"></div>
  <div class="shape"></div>
</div>
<div class="content">
  <div class="qr-code-container rounded border">
    <img [src]="qrPosterUrl">
  </div>
  <div class="content-top">
    <div class="brand text-center p-5">
      <h2 class="brand-text text-primary pb-2">SUBSCRIBLER</h2>
      <small class="text-muted">Scan QR code to view merchant Subscribler page</small>
    </div>
  </div>
  <div class="content-bottom">
    <div class="text-light">subscribler.com/sdfnjsgg</div>
  </div>
</div>