<div class="card h-100 o-hidden shadow">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="storeForm" class="p-4">
      <div class="row">
        <div class="col pb-4" formGroupName="business">
          <h5 class="mb-4 text-dark border-bottom pb-2">Store</h5>
          <div class="row">
            <div class="col form-group">
              <label for="business-name">Store Name</label>
              <input id="business-name" type="text" formControlName="name" class="form-control" placeholder="Business Name">
            </div>
            <div class="col form-group">
              <label for="business-type">Category</label>
              <select id="business-type" formControlName="type" class="form-control">
                <option *ngFor="let type of businessTypes" [value]="type">{{type | titlecase}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="business-description">Description</label>
              <textarea id="business-description" formControlName="description" class="form-control" placeholder="Business Name"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col form-group" formGroupName="address">
          <h5 class="mb-4 text-dark border-bottom pb-2">Address</h5>
          <div class="row">
            <div class="col-sm form-group">
              <label for="address-address-line-1-{{i+1}}">Address Line 1</label>
              <input id="address-address-line-1-{{i+1}}" type="text" formControlName="addressLine1" class="form-control" placeholder="Address Line 1">
            </div>
          </div>
          <div class="row">
            <div class="col-sm form-group">
              <label for="address-address-line-2-{{i+1}}">Address Line 2</label>
              <input id="address-address-line-2-{{i+1}}" type="text" formControlName="addressLine2" class="form-control" placeholder="Address Line 2">
            </div>
          </div>
          <div class="row">
            <div class="col-sm form-group">
              <label for="address-postal-code-{{i+1}}">Postal Code</label>
              <input id="address-postal-code-{{i+1}}" type="text" formControlName="postalCode" class="form-control" placeholder="Postal Code">
            </div>
          </div>
        </div>
        <div class="col form-group" formGroupName="bankAccount">
          <h5 class="mb-4 text-dark border-bottom pb-2">Bank Account</h5>
          <div class="row">
            <div class="col form-group">
              <label for="account-bank-name">Bank Name</label>
              <input id="account-bank-name" type="text" formControlName="bankName" class="form-control" placeholder="Bank Name">
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="account-name">Account Name</label>
              <input id="account-name" type="text" formControlName="name" class="form-control" placeholder="Account Name">
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="account-number">Account Number</label>
              <input id="account-number" type="text" formControlName="number" class="form-control" placeholder="Account Number">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
