<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Earnings (Monthly)"
      type="currency"
      [value]="7850"
      [icon]="earningsIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Subscribers"
      [value]="583"
      [icon]="subscribersIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Subscriptions"
      [value]="2341"
      [icon]="subscriptionsIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Deliveries (Monthly)"
      [value]="345"
      [icon]="parcelsDeliveriesIcon">
    </sbr-big-number-card>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Subscriptions Overview</h6>
      </div>
      <div class="card-body">
        <sbr-subscriptions-overview-chart></sbr-subscriptions-overview-chart>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
      </div>
      <div class="card-body">
        <sbr-revenue-sources-chart></sbr-revenue-sources-chart>
      </div>
    </div>
  </div>
</div>