<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Earnings (Monthly)"
      type="currency"
      [value]="7850"
      [icon]="earningsIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Subscribers"
      [value]="583"
      [icon]="subscribersIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Subscriptions"
      [value]="2341"
      [icon]="subscriptionsIcon">
    </sbr-big-number-card>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <sbr-big-number-card
      header="Deliveries (Monthly)"
      [value]="345"
      [icon]="parcelsDeliveriesIcon">
    </sbr-big-number-card>
  </div>
</div>