<nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-text mx-3">Subscribler</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item" *ngFor="let link of links" routerLinkActive="active">
    <a class="nav-link" [routerLink]="link.path">
      <fa-icon [icon]="link.icon" class="fa-fw px-2"></fa-icon>
      <span>{{link.text}}</span>
    </a>
  </li>
</nav>
