<div class="flex-container bg-gradient-primary h-100">
  <div class="container pt-5">
    <ngb-carousel #carousel [wrap]="false" 
    [showNavigationArrows]="false" [interval]="0"
    [keyboard]="false" class="card o-hidden border-0 shadow-lg">
      <ng-template ngbSlide id="account">
        <div class="row">
          <div class="col-lg-5 o-hidden d-none d-lg-block image-wrapper">
            <img src="https://images.unsplash.com/photo-1560626833-1ef263dc356c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
          <div class="col-lg-7 p-5">
            <h3 class="text-muted">STEP 1</h3>
            <sbr-register></sbr-register>
            <div class="d-flex justify-content-between mt-5">
              <a href="">Already have an account? Login!</a>
              <a class="btn btn-primary" routerLink="/register/packages">Next</a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="packages">
        <div class="p-5">
          <h3 class="text-muted">STEP 2</h3>
          <sbr-packages></sbr-packages>
          <div class="d-flex justify-content-between mt-5">
            <a class="btn btn-primary" routerLink="/register/account">Back</a>
            <!-- <a class="btn btn-primary" routerLink="/register/packages">Next</a> -->
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <h3 class="text-muted">STEP 3</h3>
        <sbr-account></sbr-account>
        <div class="d-flex justify-content-between mt-5">
          <button type="button" class="btn btn-primary" (click)="carousel.prev()">Back</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>