<div class="flex-container bg-gradient-primary d-flex">
  <div class="container py-5 m-auto">
    <ngb-carousel #carousel [wrap]="false" 
    [showNavigationArrows]="false" [interval]="0"
    [showNavigationIndicators]="false" [keyboard]="false"
    class="card o-hidden border-0 shadow-lg">
      <ng-template ngbSlide id="account">
        <div class="slide-content h-100">
          <div class="row">
            <div class="col-lg-5 o-hidden d-none d-lg-block image-wrapper">
              <img src="https://images.unsplash.com/photo-1560626833-1ef263dc356c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="">
            </div>
            <div class="col-lg-7 p-5">
              <h3 class="text-muted">STEP 1</h3>
              <sbr-register></sbr-register>
              <div class="d-flex justify-content-between mt-5">
                <a href="">Already have an account? Login!</a>
                <a class="btn btn-primary" routerLink="/register/packages">Next</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="packages">
        <div class="slide-content max-height p-5">
          <h3 class="text-muted">STEP 2</h3>
          <sbr-packages class="flex-grow-1 flex-shrink-1"></sbr-packages>
          <div class="d-flex justify-content-between flex-grow-0 pt-5">
            <a class="btn btn-primary" routerLink="/register/account">Back</a>
            <a class="btn btn-primary" routerLink="/register/profile">Next</a>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="profile">
        <div class="slide-content max-height p-5">
          <h3 class="text-muted">STEP 3</h3>
          <sbr-profile class="flex-grow-1 flex-shrink-1 o-hidden"></sbr-profile>
          <div class="d-flex justify-content-between flex-grow-0 pt-5">
            <a class="btn btn-primary" routerLink="/register/packages">Back</a>
            <a class="btn btn-primary" routerLink="/register/complete">Finish</a>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide id="complete">
        <div class="slide-content p-5">
          <h1 class="text-gray-900 mb-5">You're good to go!</h1>
          <sbr-links></sbr-links>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>