:host {
  display: block;
  height: 100vh;

  & > div:first-of-type {
    min-height: 100%;
  }
}

ngb-carousel {
  background-color: #f8f9fc;
}

.slide-content {
  display: flex;
  flex-direction: column;

  &.max-height {
    max-height: calc(100vh - 6rem);
    height: calc(100vh - 6rem);
  }
}

.image-wrapper {
  position: relative;

  img {
    background-position: center;
    background-size: cover;
    position: absolute;
    zoom: 0.22;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}