<div class="card">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Package Details</h6>
    <button type="button" class="close" (click)="close()">
      <fa-icon [icon]="closeIcon"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img class="img-fluid rounded border mb-4" [src]="package.imageUrl">
        <h4>{{package.name}}</h4>
        <p>{{package.description}}</p>
        <sbr-rating [max]="5" [score]="package.rating.score" [count]="package.rating.count"></sbr-rating>
        <fa-icon [icon]="deliverIcon" class="mr-2"></fa-icon>Delivers every {{package.cycle | cycle : 'unit'}}
      </div>
      <div class="col-8">
        <table class="table border-bottom" *ngIf="package">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col" [style.width.%]="20" class="text-center">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of package.items">
              <td [style.line-height]="1.2">
                <strong class="d-block">{{itemsMap[item.itemId].name}}</strong>
                <small>{{itemsMap[item.itemId].description}}</small>
              </td>
              <th scope="row" class="text-center align-middle">{{item.quantity}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="mb-4 text-dark border-bottom pb-2">Subscription Plans</h5>
        <div class="row">
          <div class="col" *ngFor="let plan of package.subscription.plans">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <h2 class="text-uppercase">{{plan.name}}</h2>
                  <h1>SGD {{plan.price}}</h1>
                </div>
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
