
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';

html {
  &.print {
    overflow: -moz-hidden-unscrollable;
	  overflow: hidden;
  }
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ngb-carousel:focus
{
  outline: 0px !important;
  -webkit-appearance: none;
}

.brand-text {
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.bg-gradient-primary {
  background: $primary;
  background: -webkit-linear-gradient(to bottom, $primary, $primary-var-1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $primary, $primary-var-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-alt {
  background-color: #f8f9fc;
}

.modal-content {
  animation-name: example;
  animation-duration: 0.3s;

  .card-body {
    max-height: calc(75vh - 6rem);
    overflow-y: scroll;
  }
}

@keyframes example {
  0%   {
    transform: scale(0.95);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}

.placeholder {
  @extend .text-gray-500;

  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;

  .placeholder-content {
    margin: auto;
    font-size: 1.2rem;
  }

  .placeholder-icon {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

.o-scroll {
  overflow: scroll;
}

