
@import 'variables';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~hover.css/scss/hover';
@import '~ngx-ui-switch/ui-switch.component';

html {
  &.print {
    overflow: -moz-hidden-unscrollable;
	  overflow: hidden;
  }
}

@keyframes zoom-fade {
  0%   {
    transform: scale(0.95);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ngb-carousel:focus,
.ngb-dp-day:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

.no-outline:focus {
  outline: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.brand-text {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.bg-gradient-primary {
  /* fallback for old browsers */
  background: $secondary;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, $secondary, $primary);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, $secondary, $primary);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-alt {
  background-color: #f8f9fc;
}

.modal-content {
  animation-name: zoom-fade;
  animation-duration: 0.3s;

  .card-body {
    max-height: calc(75vh - 6rem);
    overflow-y: scroll;
  }
}

.placeholder {
  @extend .text-gray-500;

  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;

  .placeholder-content {
    margin: auto;
    font-size: 1.2rem;
  }

  .placeholder-icon {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

.o-scroll {
  overflow: scroll;
}

ngb-datepicker {
  .ngb-dp-header {
    background-color: transparent;

    .ngb-dp-month-name {
      background-color: transparent;
    }
  }

  .ngb-dp-months {
    .ngb-dp-week {
      background-color: transparent !important;
    }
  }
}

.tooltip {

  .arrow {
    display: none;
  }

  .tooltip-inner {
    animation-name: zoom-fade;
    animation-duration: 0.3s;
    padding: 0.75rem 1.25rem;
  }
}

.switch-medium {
  margin-top: 8px;
}

.pointer-events-none {
  pointer-events: none;
}
