<div class="bg-gradient-primary d-flex p-4">
  <div class="container">
    <div class="store-header d-flex justify-content-between align-items-center py-5 px-2">
      <div class="brand">
        <a class="d-flex align-items-center justify-content-center text-decoration-none" [routerLink]="['/']">
          <div class="brand-text text-light">Subscribler</div>
        </a>
      </div>
      <div class="header-buttons">
        <a class="text-light text-decoration-none mr-4" [routerLink]="['/', 'register']">Be a Merchant</a>
        <a class="text-light text-decoration-none mr-4" [routerLink]="['/', 'subscriptions']">My Subscriptions</a>
        <a class="text-light text-decoration-none" [routerLink]="['/', 'account']">My Account</a>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body p-5">
        <div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="header">
          <h1 class="h3 text-gray-800">{{header}}</h1>
        </div>
        <div class="pt-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>