<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registrationForm.value)" class="user">
  <div class="row">
    <div class="col-sm form-group">
      <input type="text" formControlName="firstName" class="form-control form-control-user" placeholder="First Name">
    </div>
    <div class="col-sm form-group">
      <input type="text" formControlName="lastName" class="form-control form-control-user" placeholder="Last Name">
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <input type="email" formControlName="email" class="form-control form-control-user" placeholder="Email">
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <input type="tel" formControlName="phoneNumber" class="form-control form-control-user" placeholder="Phone Number">
    </div>
  </div>
  <div class="row">
    <div class="col-sm form-group">
      <input type="password" formControlName="password" class="form-control form-control-user" placeholder="Password">
    </div>
    <div class="col-sm form-group">
      <input type="password" formControlName="confirmPassword" class="form-control form-control-user" placeholder="Confirm Password">
    </div>
  </div>
</form>